<section class="order about">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio laboriosam magni perferendis
        quasi. Culpa cupiditate est quasi quia quod repellendus similique velit! Amet autem dolore facere obcaecati
        pariatur quas?
      </div>
    </div>
    <div class="about-image wow animate__backInRight">
      <img src="images/pizza_big.png" alt="Пицца">
      <img src="images/pizza_big.png" alt="Пицца">
    </div>
  </div>
</section>
