<section class="order" id="order">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <a routerLink="/order" [queryParams]="{product: 'test'}">Хватит думать!</a> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form">
      <label>
        <input type="text" class="order-input" coolInput
               [coolInputDefaultBgColor]="'gray'"
               [coolInputFocusBgColor]="'red'"
               id="product-input" placeholder="Пицца" [(ngModel)]="formValues.productTitle">
      </label>
      <label>
        <input type="text" class="order-input" id="address-input" placeholder="Адрес доставки" [(ngModel)]="formValues.address">
      </label>
      <label>
        <input type="text" class="order-input" coolInput id="phone-input" placeholder="Телефон" [(ngModel)]="formValues.phone">
      </label>
      <button class="btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image wow animate__backInRight">
      <img src="images/pizzzzza.png" alt="Пицца">
    </div>
  </div>
</section>
